
<div class="container">
  <div class="row">
    <% @services.each do |s| %>

      <div class="col col-xs-12 col-sm-4">
        <%= link_to service_path(s) do  %>
          <div class="card">
            <img src="" class="https://kitt.lewagon.com/placeholder/users/alex-felix">
            <div class="card-category"><%= s.location %></div>
            <div class="card-description">
              <h2><%= s.title %></h2>
              <p><%= s.category %></p>
            </div>
          </div>
        <% end  %>
      </div>
    <% end %>
  </div>
</div>



