<body id="new_background_image">

<div class="create_service_card new_service_container">
  <h1>Create a Service</h1>
  <%= render "form", title: @title, location: @location, description: @description %>

</div>


</body>
