<body id="new_background_image">
<div class="new_service_container">

  <div class="create_service_card">
    <h1>Create a Service</h1>
    <%= render "form", title: @title, location: @location, description: @description %>

  </div>

</div>


</body>
