<body id="new_background_image">
<div class="card_container">

  <div class="card_form">
    <h2>Create an Experience</h2>
    <%= render "form", title: @title, location: @location, description: @description %>

  </div>

</div>


</body>
