.create_service_card {
  height: 650px;
  width: 500px;
  margin: 50px auto 0 auto;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: .9;
}
.form-control-label {
  display: block;
  text-align: left;
  margin-left: 10px;
}

.new_service_container {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  height: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#new_background_image {
  background-image: url("new_service.jpg");
  background-position: center;
  background: cover;
  height: 100vh;
  background-size: 100% 100%;
}
