// .service-show-page {
//   background-color: #66C6F3;
//   height: 100vh;
//   h1 {
//     padding-top: 50px;
//     margin-top: 0;
//     font-family: Helvetica;
//     font-size: 62px;
//   }
// }

// .book-appointment {
//   width: 400px;
//   margin: 50px auto;

// }

// .flex-box {
//   display: flex;
//   justify-content: space-around;
// }

// .service-show-page {
//   background-color: #66C6F3;
//   height: 100vh;
//     h1 {
//       font-family: Helvetica;
//       font-size: 62px;
//     }

// }
// background-color: #FCCB00;
//   border-radius: 10px;
//   margin-top: 0;
//   padding: 30px;
//   p {
//     font-size: 40px;
//   }
  .title-show-page{
    text-align: center;
    font-weight: bolder;
    color: #2D383D;
    letter-spacing: 5px;
}
.service-show-container {
  display: flex;
  justify-content: space-around;
  color: #716c55;
  margin: 28px;
  padding: 25px;

}
.flexbox {
  display: flex;
  justify-content: space-around;
}

.service-show-card {
    color: rgb(234, 232, 232);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    width: 45%;
    text-align: center;
    // background-color: #FFFEFF;
    background: rgb(99, 163, 242);
    max-height: 100%;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #efeeee;
    h3 {
      text-decoration: underline;
    }

}

.service-show-profile {
    background-color: #FFFEFF;
    color: rgb(99, 163, 242);
    // background: rgb(121, 202, 229);
    border-radius: 3px;
    border-top-left-radius: 3px;
    padding: 15px;
    width: 40%;
    max-height: 100%;
    box-shadow: 2px 2px 2px #efeeee;
    text-align: center;

    a {
      text-decoration: none;
      color: black;
    }
    a:hover{
      color: #44BFDC;
    }

    border: 2px rgb(99, 163, 242) dotted;


}


.book-appointment {
    color: #2D383D;
    width: 50%;
    margin: 35px auto;
    background-color: #FFFEFF;
    padding: 50px 50px 20px 50px;
    box-shadow: 2px 2px 2px #efeeee;
    border-radius: 3px;
}

.btn-right {
  text-align: right;
  margin-right: 200px;
}
