.service h4 {
  font-weight: bolder;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

.service-show-page {
  background-color: #66C6F3;
  height: 100vh;
  h1 {
    padding-top: 50px;
    margin-top: 0;
    font-family: Helvetica;
    font-size: 62px;
  }
}

.book-appointment {
  width: 400px;
  margin: 50px auto;
}
