.service h4 {
  font-weight: bolder;
}

.info-content {
  margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}


.profile-container {
  background: #bdc3c7;
  background: linear-gradient(to right, #9fadbb, #606d75);
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  margin: 36px 50px 20px 50px;
  padding: 12px;
  color: white;

}

.profile-avatar {
  text-align: center;
  margin: 15PX;
  padding: 30px;
}

.profile-bio {
    padding: 25px;
    margin: 40px;
}

.service-show-page {
  background-color: #66C6F3;
  height: 100vh;
  h1 {
    padding-top: 50px;
    margin-top: 0;
    font-family: Helvetica;
    font-size: 62px;
  }
}

.nounderline {
  text-decoration: none !important;
}

.end_date {
  margin-bottom: 10px;
}

.end_date_text {
  display: block;
  font-weight: bold;
  padding-left: 10px;
}
