<body id="home_background_image">
  <div class="card_container">
    <div class="card_form">
      <h1>Find an Adventure</h1>
      <%= form_tag services_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an experience" %>
        <%= submit_tag :submit, class: 'btn btn-primary' %>
      <% end %>
      <!--  <#%= link_to services_path do %>
        <div class="btn btn-primary">Search</div>
      <#% end %> -->
    </div>
  </div>
</body>