<body id="home_background_image">
  <div class="home_card home_card_position">

  <h1>Find an Adventure</h1>


    <%#= render "form", services: @services %>
    <%= link_to services_path do %>
      <div class="btn btn-primary">Search</div>
    <% end %>
  </div>


</body>


