<div>
  <div class="card_container">
    <div class="card_form">

    <h1>Find an Adventure</h1>
      <%#= render "form" %>
      <%= link_to services_path do %>
        <div class="btn btn-primary">Search</div>
      <% end %>
    </div>


  </div>


</div>


