.submit-btn {
  color: #FEF7C1;
}

.home-button {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 7px 22px;
    color: #1d86a0;
    opacity: 1;

}

.home-button:hover {
  background-color: gray;
    color: #1d86a0;
    opacity: .5;
}
