.card {
  height: 220px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  opacity: .8;
  border-radius: 4px;
  overflow: hidden;
}

.card:hover .picture {
  filter: brightness(1);
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  justify-content: center;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.user-card {
  background-color: #FCCB00;
  border-radius: 10px;
  margin-top: 0;
  padding: 30px;
  width: 500px;
  p {
    font-size: 40px;
  }
}

.service-card {
  margin-top: 30px;
  p {
    font-size: 32px;
  }
}
