.larry-card {
 background: #EF5C3A;
 opacity: .7;
 color: white;
 display: flex;
align-items: center;
}


.avatar{
  left: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-description {
  align-items: center;
}
