.footer {
  transition: all 0.3s ease;
  // height: 20px;
  padding: 3px 0px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  color: rgb(234, 232, 232);
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  // background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.footer-avatar {
  border-radius: 50%;
  width: 30px;

}
