body {
 background: white;
}
.service-container{
 margin: 26px;

}

.card-service-header {
 color: #2D383D;
 background: #44BFDB;  /* fallback for old browsers */
 color: white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 10px;
 padding: 10px;
 border-radius: 3px;
}

.card-service {
 color: #2D383D;
 background: $bg-white;  /* fallback for old browsers */
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 10px;
 padding: 10px;
 border-radius: 3px;


}

.card-service h1 {
 font-size: bolder;
}

.card-service a {
 text-decoration: none;
}

.service {
 flex: 1;
 text-align: center;
 padding: 0 10px;
 h2 {
   margin-top: 10px;
   font-size: 30px;
 }
 h3 {
   margin-top: 10px;
   font-size: 34px;
 }
}


.user-service-card {
 color: #2D383D;
 background: $bg-white;  /* fallback for old browsers */
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin: 10px;
 padding: 10px;
 border-radius: 3px;
}

.user-service-header {
 color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 10px;
 padding: 10px;
 border-radius: 3px;
}

.user-description-card {
 color: #2D383D;
 background: $bg-white;  /* fallback for old browsers */
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 10px;
 padding: 10px;
 border-radius: 3px;
}

}
.date h3 {
  font-family: 'Neuton', serif;

}
