body {
  background: white;
}
.service-container{
  margin: 26px;

}
.card-service {
  color: #181818;
  background: $foam-green;  /* fallback for old browsers */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 25px;
  border-radius: 3px;
  &:nth-of-type(even) {
  background: #66C6F3;
  color: white;

  }
}

.card-service h1 {
  font-size: bolder;

}

.service {
  flex: 1;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 25px;
  border-radius: 3px;
}
