 .trapezium {
  position: fixed;
  background-color: #44BFDB;
  background-size: cover;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  bottom: 0;
  left: 0;
  z-index: -10;
  border-bottom: 121px solid #44bfdc;
  border-left: 120px solid transparent;
  border-right: 89px solid transparent;
  width: 100px;
  margin: 100px;
  }

.trapezium-show {

  position: fixed;
  background-color: #44BFDB;
  background-size: cover;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  bottom: 0;
  left: 0;
  z-index: -10;
  border-bottom: 121px solid #44bfdc;
  border-left: 120px solid transparent;
  border-right: 89px solid transparent;
  width: 100px;
  margin: 100px;


}


.trapezium-homepage {

    position: fixed;
    background-color: #32caf0;;
    background-size: cover;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    bottom: 0;
    left: 0;
    z-index: -7;
    border-bottom: 160px solid #44BFDB;
    border-left: 250px solid transparent;
    border-right: 157px solid transparent;
    width: 100px;
    margin: 115px;
    height: 114px;
    width: 326px;
    border-bottom: 120px solid #44BFDB;
    padding: 104px;
}

 .trapezium-bottom-right {
  position: fixed;
  background-color: #44BFDB;
  background-size: cover;
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  bottom: 0;
  left: 0;
  z-index: -5;
  border-bottom: 121px solid #44bfdc;
  border-left: 120px solid transparent;
  border-right: 89px solid transparent;
  width: 100px;
  margin: 100px;
  }


  .trapezium-new {
    background-color: #5edfff;
    background-size: cover;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    bottom: 0;
    left: 0;
    /* z-index: -10; */
    border-bottom: 325px solid #44bfdc;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    width: 100px;
    margin-left: 4px;

  }

  .trapezium-text {
    text-align: center;
    margin-left: 25px;
    h1 {
      color: #44bfdc;
    }

    h5 {
      color: gray;
    }



  }


  .trapezium-forum {
 background-color: #64DFFD;
    background-size: cover;
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
    bottom: 0;
    left: 0;
    z-index: -5;
    border-bottom: 150px solid #4BBFDB;
    border-left: 160px solid transparent;
    border-right: 150px solid transparent;
    width: 96px;
    margin: 28px;
  }



.trapezium-container {
  justify-content: center;

}

.card-container {
  justify-content: center;
}
