
<div class="larry-card">

  <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar"/>
  <div class="card-description">
    <h2>Abraham Woods</h2>
    <h3> Services</h3>
    <ul>
      <li>
        <h4> lol</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ad, quis corrupti, tempora dicta autem doloribus numquam. Expedita ullam sapiente mollitia corporis, id excepturi consectetur quidem maxime enim, rem consequatur.</p>
      </li>
      <li>
        <h4>Yoga in Ubud</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ad, quis corrupti, tempora dicta autem doloribus numquam. Expedita ullam sapiente mollitia corporis, id excepturi consectetur quidem maxime enim, rem consequatur.</p>
      </li>
      <li>
        <h4>Pub Crawl</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem ad, quis corrupti, tempora dicta autem doloribus numquam. Expedita ullam sapiente mollitia corporis, id excepturi consectetur quidem maxime enim, rem consequatur.</p>
      </li>
    </ul>
  </div>
</div>

