<div class="footer">
  <div class="footer-links">
    <p>Meet the team: </p>

    <a href="http://github.com/Georgewwalden7", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/Georgewwalden7", class: "footer-avatar"%></a>
      <a href="http://github.com/mattfraz38", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/mattfraz38", class: "footer-avatar"%></a>
      <a href="http://github.com/ringochico", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ringochico", class: "footer-avatar"%></a>
      <a href="http://github.com/naneng", target="_blank">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/naneng", class: "footer-avatar"%></a>
  </div>
</div>



